.about-place-modal {
    position: fixed;
    background-color: rgba(0, 0, 0, .5);
    inset: 0;
    padding: 40px;
    z-index: 2000;
    display: flex;
    align-items: center;
    justify-content: center;

    .modal-content {
        box-shadow: 0 8px 28px rgba(0, 0, 0, 0.28);
        padding: 0 24px;
        border-radius: 12px;
        background-color: $clr5;
        max-width: 780px;
        height: 100%;
        overflow: auto;
    }

    .close-btn {
        color: $clr3;
        min-height: 64px;
        padding: 0;
    }

    .txt {
        padding: 16px 0 32px;
    }

    .title {
        padding: 0;
        margin: 0;
        font-size: 1.625rem;
        line-height: 1.875rem;
        margin-bottom: 32px;
        font-weight: 700;
    }

    .summary {
        line-height: 1.5rem;
        padding: 0;
        margin: 0;
    }


}