.stay-info{
    display: grid;
    color: #3d3c3c;
    font-weight: bold;
    font-size: 16px;
}

.stay-info h1{
    font-size: 26px;
}

.stay-capacity{
    font-weight: normal;
}

.stay-info a{
    border-bottom: 1px solid #000;
}

.stay-info p{
    font-weight: normal;
}

.black-br {
    border-top: 1px solid #717171;
    width: 100%;
    margin: 10px 0;
}