.stay-details {
  font-family: "Montserrat", sans-serif;
  color: $clr3;
  font-size: 16px;
  grid-column: 2;
  margin-top: 24px;

  .stay-info-header {
    display: flex;
    padding-bottom: 24px;
    justify-content: space-between;

    .title {
      font-size: 30px;
      margin: 0;
      font-weight: 600;
    }

    .action-button {
      display: flex;
      align-items: center;
      font-weight: 600;
      text-decoration: underline;
      gap: 2em;
      font-size: 0.875rem;

      .share {
        display: flex;
        align-items: center;
        gap: 0.4em;
        cursor: pointer;
      }

      .heart {
        display: flex;
        align-items: center;
        gap: 0.4em;
        cursor: pointer;
      }
    }
  }

  .stay-info-imgs {
    display: grid;
    border-radius: 15px;
    overflow: hidden;
    padding: 0;
    max-width: 100%;
    gap: 7px;
    height: 465px;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0,
        1fr);
    grid-template-rows: minmax(0, 1fr) minmax(0, 1fr);
    grid-template-areas:
      "main-img main-img img-1 img-2 "
      "main-img main-img img-3 img-4";

    .grid-item-0 {
      grid-area: main-img;
    }
  }

  .stay-info-imgs img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
  }

  .details-container {
    display: grid;
    grid-gap: 14px;
    grid-template-areas:
      "a1 a4"
      "a2 a4"
      "a3 a5";
    grid-template-columns: minmax(0, 1.4fr) minmax(0, 1fr);

    .MuiDateRangeCalendar-root.css-e47596-MuiDateRangeCalendar-root div[style*="position: absolute"][style*="pointer-events: none"][style*="color: rgba(130, 130, 130, 0.62)"] {
      opacity: 0;
    }
  }

  .stay-ferrites {
    grid-area: a1;
  }

  .stay-info-content {
    padding: 32px 0;
    border-bottom: 1px solid rgba(128, 128, 128, 0.3);

    h1 {
      margin: 0;
      font-size: 23px;
      font-weight: 600;
      line-height: 1.625rem;
      margin-bottom: 5px;
    }

    .ratnig-summary {
      display: flex;
      gap: 5px;
      align-items: center;
      margin-top: 8px;
      font-weight: 600;
      font-size: 17px;
    }

    .reviews-count {
      text-decoration: underline;
    }

    .no-reviews {
      font-size: 1.0625rem;
      font-weight: 400;
      line-height: 1.25rem;
    }
  }

  .hosted-by {
    padding: 24px 0px;
    display: flex;
    gap: 20px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.3);

    span {
      font-weight: 600;
    }

    .hosted-img {
      width: 40px;
      height: 40px;
      border-radius: 50px;
      object-fit: cover;
    }
  }

  .stay-features {
    padding: 32px 0;
    display: flex;
    gap: 24px;
    flex-direction: column;
    border-bottom: 1px solid rgba(128, 128, 128, 0.3);

    .line {
      display: flex;
      gap: 24px;
    }

    h4 {
      margin: 0;
      line-height: 1.25rem;
      margin-bottom: 4px;
    }

    p {
      margin: 0;
      color: rgb(106, 106, 106);
      font-size: 0.875rem;
      line-height: 1.25rem;
    }
  }

  .summery {
    padding: 32px 0 48px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.3);

    .text-summery {
      overflow: hidden;
      max-width: 50em;
      line-height: 1.5rem;
      display: -webkit-box;
      -webkit-line-clamp: 6;
      -webkit-box-orient: vertical;
    }

    .show-more {
      margin: 16px 0 0;
      text-decoration: underline;
      cursor: pointer;
      font-size: 16px;
      font-weight: bold;
      display: flex;
      align-items: center;
    }
  }

  .amenities-details {
    padding: 48px 0;
    border-bottom: 1px solid rgba(128, 128, 128, 0.3);

    h2 {
      padding: 0 0 24px;
      margin: 0;
      font-weight: 600;
      font-size: 22px;
    }

    .offers-grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      align-items: center;

      .offer {
        display: flex;
        padding-bottom: 16px;
        align-items: center;
        gap: 16px;
        white-space: nowrap;
      }
    }
  }

  .dates {
    padding: 48px 0;

    h1 {
      margin: 0;
      font-size: 23px;
      font-weight: 600;
      line-height: 1.625rem;
      margin-bottom: 5px;
    }

    h4 {
      margin: 0;
      color: rgb(106, 106, 106);
      font-size: 0.875rem;
      line-height: 1.25rem;
      font-weight: normal;
    }
  }

  .rating-container {
    border-top: 1px solid rgba(128, 128, 128, 0.3);
    padding: 48px 0;
    font-family: system-ui;

    .rating-reviews {
      display: flex;
      flex-direction: column;

      .reviews-rate {
        display: flex;
        gap: 5px;
        align-items: center;
        font-size: 30px;
        font-weight: 700;
        margin-bottom: 20px;
      }

      .rating {
        display: flex;
        padding: 0 0 40px;
        gap: 21px;

        .overall-rating {
          span {
            margin: 0 0 8px;
            font-size: 18px;
            font-weight: 500;
          }

          .progress {
            display: flex;
            flex-direction: column;
            font-size: 13px;
          }

          .rating-progress {
            display: flex;
            align-items: center;
            gap: 8px;
          }

          progress {
            height: 10px;
            accent-color: black;
          }
        }

        .rating-detail {
          display: flex;

          .rating-item {
            font-size: 21px;
            font-weight: 500;
            padding: 0 38px 4px;
            display: flex;
            flex-direction: column;
            gap: 23px;
            border-left: 1px solid rgba(128, 128, 128, 0.3);

            span {
              font-size: 18px;
              font-weight: 500;
              white-space: nowrap;
            }
          }
        }
      }
    }

    .guest-reviews-container {
      border-top: 1px solid rgba(128, 128, 128, 0.3);
      padding-top: 40px;
      display: grid;
      gap: 3.5em;
      grid-template-columns: repeat(2, 470px);

      .review {
        gap: 10px;
        display: flex;
        flex-direction: column;

        .mini-user {
          display: flex;
          gap: 17px;

          .review-img {
            width: 50px;
            height: 50px;
            border-radius: 50px;
            object-fit: cover;
          }

          .mini-user-details {
            gap: 2px;
            display: flex;
            flex-direction: column;
            margin-top: 5px;
          }

          h3 {
            margin: 0;
          }

          span {
            font-size: 14px;
          }
        }
      }

      .review-info {
        display: flex;
        gap: 5px;
        align-items: center;

        .star-review {
          display: flex;
          gap: 1px;
          align-items: center;
        }

        .date-review {
          font-weight: bold;
          font-size: 14px;
        }
      }

      .review-txt {
        font-size: 17px;
      }
    }
  }

  .map {
    border-top: 1px solid rgba(128, 128, 128, 0.3);
    padding: 48px 0;

    h3 {
      margin: 0;
      font-size: 23px;
      font-weight: 600;
      line-height: 1.625rem;
      margin-bottom: 5px;
      padding-bottom: 24px;
    }

    h4 {
      font-family: sans-serif;
      font-weight: normal;
      margin-top: 0;
    }
  }

  .map-container {
    width: 100%;
    height: 500px;
    border-radius: 0;
  }

  .reservation-modal {
    margin-bottom: 60px;
  }

  .sticky-header {
    top: 0;
    padding-top: 1px;
    background-color: white;
    z-index: 1000;
    border-bottom: 1px solid rgba(128, 128, 128, 0.3);
    position: sticky;

    nav {
      display: flex;
      margin-top: 20px;
      justify-content: space-between;
      align-items: center;
      height: 64px;

      .sticky-summary {
        display: flex;
        gap: 20px;
        align-items: center;
      }

      button {
        text-align: center;
        font-weight: 600;
        cursor: pointer;
        border: none;
        padding: 14px 54px;
        border-radius: 8px;
        color: $clr5;
        background-position: calc((100 - var(--mouse-x, 0)) * 1%) calc((100 - var(--mouse-y, 0)) * 1%);
        --mouse-x: 94.71153846153845;
        --mouse-y: 2.083333333333333;
        background-size: 200% 200%;
        background-image: radial-gradient(circle at center,
            #ff385c 0%,
            #e61e4d 27.5%,
            #e31c5f 40%,
            #d70466 57.5%,
            #bd1e59 75%,
            #bd1e59 100%);
        font-size: 16px;
        transition: background-position 0.8s;

        &:hover {
          background-position: calc((100 - var(--mouse-x, 0)) * 1%) calc((100 - var(--mouse-y, 0)) * 1%);
          --mouse-x: 54.71153846153845;
          --mouse-y: 2.083333333333333;
        }
      }

      ul {
        display: flex;
        gap: 24px;
        list-style: none;
        padding: 0;
        margin: 0;
        height: 100%;

        li {
          cursor: pointer;

          &:hover {
            border-bottom: 3px solid black;
          }
        }
      }
    }
  }

  .go-back-btn {
    border-radius: 50%;
    color: #222222;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-style: solid;
    border-width: 1px;
    background-clip: padding-box;
    border-color: rgba(0, 0, 0, 0.08);
    box-shadow: 0 0 0 1px transparent, 0 0 0 4px transparent, 0 2px 4px rgba(0, 0, 0, 0.5);
    height: 36px;
    width: 36px;
    position: absolute;
    top: 3%;
    left: 5%;

    img {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

@media only screen and (max-width: 768px) {
  .stay-details {
    margin-top: 0;
    font-size: 15px;

    .sticky-header {
      display: none;
    }

    .stay-info-header {
      display: none;
    }

    .stay-info-content {
      padding: 24px 24px;
    }

    .reservation-modal {
      display: none;
    }

    .hosted-by {
      padding: 24px 24px;
    }

    .stay-info-imgs {
      display: block;
      border-radius: 0;
      height: 300px;
    }

    .details-container {
      display: block;
    }

    .stay-features {
      padding: 24px 24px;
    }

    .summery {
      padding: 24px 24px;
    }

    .amenities-details {
      padding: 24px 24px;

      .offers-grid {
        display: block;
      }
    }

    .dates {
      padding: 24px 24px;
      padding-bottom: 0;
    }

    .calendar-picker {
      display: block;
    }

    .rating-container {
      padding: 24px 24px;

      .guest-reviews-container {
        border-top: none;
        padding-top: 0;
        display: flex;
        flex-direction: column;
        gap: 20px;

        .review {
          box-shadow: 0 6px 16px rgba(0, 0, 0, 0.12);
          padding: 20px;
          border-radius: 12px;
          background-color: #ffffff;
          height: 230px;
          width: 317px;
        }
      }

      .rating-reviews {
        .rating {
          display: none;
        }

        .reviews-rate {
          font-size: 26px;
        }
      }
    }

    .map {
      padding: 24px 24px;
    }

    .map-container {
      height: 220px;
      border-radius: 12px 12px 0 0;
    }
  }
}