.app-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 40px;
  position: sticky;
  top: 0;
  z-index: 100;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  height: 80px;
  white-space: nowrap;

  .app-header-logo-nav a {
    display: flex;
    align-items: center;

    .app-logo {
      height: 32px;
    }

    h1 {
      margin: 0 5px;
      color: $clr1;
      font-size: 25px;
    }
  }

  .main-filter-header {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    height: 50px;
    border: 1px solid lightgray;
    border-radius: 50px;
    box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.08);
    margin-left: 132px;
    
    .border-line {
      width: 0;
      height: 24px;
      align-self: center;
      border-left: solid 1.5px #dddddd;
      margin: 0;
    }

    .main-filter-btn.large:hover {
      background: #dfdfdf;
      border-radius: -10px;
    }

    // .main-filter-btn.large:hover img.search-glass {
    //   background: #dfdfdf;
    // }

    .filter-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 100%;
      width: 100%;
    }

    .main-filter-btn.large:has(> .filter-content.active-filter) {
      background: white;
    }

    .text {
      margin-left: 30px;
      flex-grow: 1;
      text-align: start; /* Center the text horizontally */
    }

    .search-glass {
      width: 30px;
      cursor: pointer;
      margin-right: 3px;
    }

    .filter-content .search-glass {
      margin-left: auto;
    }

    .main-filter-btn {
      width: 100px;
      height: 50px;
      font-size: .75em;
    }

    .main-filter-btn.large {
      width: auto;
      height: 66px;
      flex-grow: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: start;
      border-radius: 100px;
      padding: 14px 24px;
    }
    .main-filter-btn.large:last-child {
      justify-content: end;
    }

    .main-filter-btn.large:nth-child(1),
    .main-filter-btn.large:nth-child(7) {
      width: 25%;
    }

    .main-filter-btn:not(.large):nth-child(1),
    .main-filter-btn:not(.large):nth-child(3) {
      font-weight: 600;
      color: rgb(64, 64, 64);
    }

    .main-filter-btn.large:hover + .border-line {
      display: block;
    }

    .main-filter-btn.large.active-filter {
      background-color: white;
    }

    .main-filter-btn.large.active-filter:last-child {
      border-radius: 0 100px 100px 0;
    }
    .main-filter-btn.large.active-filter:first-child {
      border-radius: 100px;
    }

    .main-filter-btn.large:not(.active-filter):hover {
      // border-radius: 0;
    }
  }

  .main-filter-header:hover {
    box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.08),
      0 2px 4px rgba(0, 0, 0, 0.18);
  }

  .main-filter-header.large-main-filter {
    border-radius: 32px;
    width: 850px;
    display: flex;
    justify-content: space-between;
    height: 66px;
    text-align: start;
    background-color: #ebebeb;
  }

  .main-filter-header.large-main-filter {
    box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.08);
  }

  .user-actions-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 2px;

    a {
      color: #000;
      font-size: 0.85em;
    }

    img {
      width: 20px;
      cursor: pointer;
      padding: 0;
    }

    .user-icon {
      width: 30px; /* Set size for user icon */
      cursor: pointer;
      margin-left: 10px;
    }

    .hamburger-menu-icon {
      width: 20px; /* Set size for hamburger menu icon */
      height: 20px;
      cursor: pointer;
      margin-left: 3px;
    }

    .user-actions-container {
      background-color: #fff;
      border-radius: 50px;
      border: solid 1px #dddddd;
      padding: 5px 8px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      cursor: pointer;

      .user-actions-modal {
        margin-top: 34px;
        overflow-y: auto;
        border-radius: 10px;
        background: white;
        right: 40px;
        padding: 8px 0;
        box-shadow: 0 2px 16px rgba(0, 0, 0, 0.12);
        position: absolute;
        z-index: 2;
        color: black;
        top: 50%;
        max-height: calc(100vh - 100px);
        min-width: 240px;

        .user-action {
          display: flex;
          align-items: center;
          cursor: pointer;
          padding: 12px 16px;
          width: 100%;
          outline: none;
          text-decoration: none;
          color: black;
        }
        .user-action:hover {
          border-radius: 0;
        }

        .hr {
          background-color: #ccc;
          margin: 8px 0;
          height: 1px;
        }
      }
    }

    .user-actions-container:hover {
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
    }

    a {
      padding: 10px;
    }

    a:hover {
      background: #f7f7f7;
      text-decoration: none;
      border-radius: 100px;
      cursor: pointer;
    }

    .world-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 50px;
      width: 50px;
      margin-right: 5px;
    }

    .world-icon:hover {
      background: #f7f7f7;
      text-decoration: none;
      border-radius: 100%;
      cursor: pointer;
    }
  }
}
