.app-header2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
  position: sticky;
  top: 0;
  z-index: 100;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);

  .app-logo-nav a {
    display: flex;
    align-items: center;

    .app-logo {
      width: 40px;
    }

    h1 {
      margin: 0 10px;
      color: $clr1;
    }
  }

  .main-filter-header {
    display: flex;
    align-items: center;
    flex: 1;
    max-width: fit-content;
    height: 50px;
    padding-right: 10px;
    border: 1px solid lightgray;
    border-radius: 50px;
    box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.08);

    .border-line {
      width: 0;
      height: 24px;
      align-self: center;
      border-left: solid 1.5px #dddddd;
      margin: 0;
    }

    .search-glass {
      width: 30px;
      cursor: pointer;
    }

    .main-filter-btn {
      width: 150px;
      height: 50px;
    }

    .main-filter-btn:hover {
      background: #dfdfdf;
      text-decoration: none;
      border-radius: 100px;
      cursor: pointer;
    }

    .main-filter-btn:hover + .border-line {
      display: none;
    }
  }

  .user-actions-header {
    display: flex;
    justify-content: space-between;
    width: 17%;
    align-items: center;

    img {
      width: 25px;
      cursor: pointer;
      padding: 0;
    }

    .user-actions-header {
      display: flex;
      justify-content: space-between;
      width: 20%;
      align-items: center;
    }

    .user-icon {
      width: 30px; /* Set size for user icon */
      cursor: pointer;
      margin-left: 10px;
    }

    .hamburger-menu-icon {
      width: 20px; /* Set size for hamburger menu icon */
      height: 20px;
      cursor: pointer;
      margin-left: 3px;
    }

    .user-actions-container {
      background-color: #fff;
      border-radius: 50px;
      border: solid 1px #dddddd;
      padding: 5px 8px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      cursor: pointer;
    }

    .user-actions-container:hover {
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
    }

    a {
      padding: 10px;
    }

    a:hover {
      background: #f7f7f7;
      text-decoration: none;
      border-radius: 100px;
      cursor: pointer;
    }

    .world-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 50px;
      width: 50px;
    }

    .world-icon:hover {
      background: #f7f7f7;
      text-decoration: none;
      border-radius: 100%;
      cursor: pointer;
    }
  }
}
