.app-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
  position: sticky;
  top: 0;
  z-index: 100;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);

  .app-logo-nav a {
    display: flex;
    align-items: center;

    .app-logo {
      width: 40px;
    }

    h1 {
      margin: 0 10px;
      color: $clr1;
    }
  }

  .main-filter-header {
    display: flex;
    align-items: center;
    flex: 0 1 auto;
    min-width: 348px;
    height: 50px;
    padding-right: 10px;
    border: 1px solid lightgray;
    border-radius: 50px;
    box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.08);

    .border-line {
      width: 0;
      height: 24px;
      align-self: center;
      border-left: solid 1.5px #dddddd;
      margin: 0;
    }

    .search-glass {
      width: 30px;
      cursor: pointer;
    }

    .main-filter-btn {
      width: 120px;
      height: 50px;
    }

    .main-filter-btn:nth-child(1),
    .main-filter-btn:nth-child(3) {
      font-weight: 600;
      color: rgb(64, 64, 64);
    }

    .main-filter-btn:hover {
      background: #dfdfdf;
      text-decoration: none;
      border-radius: 100px;
      cursor: pointer;
    }

    .main-filter-btn:hover + .border-line {
      display: none;
    }
  }

  .main-filter-header.large-main-filter {
    box-shadow: none;
    border-radius: 32px;
    width: 100%;
    display: flex;
    flex: 0 1 auto;
    position: relative;
    outline: none;
    height: 66px;
    text-align: left;
    --explore_padding-inline: 24px;
    --explore-nav_box-shadow-spread: 4px;
    --gp-sidebar-top-padding: 0;
    --page-shell-max-content-width: 2520px;
  }

  .user-actions-header {
    display: flex;
    justify-content: space-between;
    width: auto;
    align-items: center;

    img {
      width: 25px;
      cursor: pointer;
      padding: 0;
    }

    .user-actions-header {
      display: flex;
      justify-content: space-between;
      width: 20%;
      align-items: center;
    }

    .user-icon {
      width: 30px; /* Set size for user icon */
      cursor: pointer;
      margin-left: 10px;
    }

    .hamburger-menu-icon {
      width: 20px; /* Set size for hamburger menu icon */
      height: 20px;
      cursor: pointer;
      margin-left: 3px;
    }

    .user-actions-container {
      background-color: #fff;
      border-radius: 50px;
      border: solid 1px #dddddd;
      padding: 5px 8px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      cursor: pointer;

      .user-actions-modal {
        margin-top: 34px;
        overflow-y: auto;
        border-radius: 10px;
        background: white;
        right: 40px;
        padding: 8px 0;
        box-shadow: 0 2px 16px rgba(0, 0, 0, 0.12);
        position: absolute;
        z-index: 2;
        color: black;
        top: 50%;
        max-height: calc(100vh - 100px);
        min-width: 240px;

        .user-action {
          display: flex;
          align-items: center;
          cursor: pointer;
          padding: 12px 16px;
          width: 100%;
          outline: none;
          text-decoration: none;
          color: black;
        }
        .user-action:hover {
          border-radius: 0;
        }

        .hr {
          background-color: #ccc;
          margin: 8px 0;
          height: 1px;
        }
      }
    }

    .user-actions-container:hover {
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
    }

    a {
      padding: 10px;
    }

    a:hover {
      background: #f7f7f7;
      text-decoration: none;
      border-radius: 100px;
      cursor: pointer;
    }

    .world-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 50px;
      width: 50px;
    }

    .world-icon:hover {
      background: #f7f7f7;
      text-decoration: none;
      border-radius: 100%;
      cursor: pointer;
    }
  }
}
