.labels-filter {
  height: 80px;
  padding: 0 80px;
  border: 1px solid;
  opacity: 0.6;
  position: fixed;
  top: 80px;
  left: 0;
  right: 0;
  // z-index: 100;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr)); /* Adjust column width as needed */
  gap: 32px;
  align-items: center;
  overflow-x: auto;
  white-space: nowrap;

  place-items: center;

  .name-label {
    color: black;
    font-weight: bold;
    font-size: 0.75rem;
  }

  img {
    width: 24px;
    height: 24px;
  }
}
