.stay-preview {
  width: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-areas:
    "photo"
    "info";
  border-radius: 5%;
  cursor: pointer;

  .stay-photo-gallery {
    grid-area: photo;

    .imgs {
      margin-bottom: 5px;
    }
  }

  .stay-preview-information {
    display: grid;
    grid-area: info;
    color: #3d3c3c;
    font-weight: bold;
    font-size: 0.9375rem;

    .common-info {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .name-info {
      color: $clr3;
      text-overflow: ellipsis;
      margin-top: -5px;
    }

    .avg-rating-info {
      display: flex;
      align-items: center;
      column-gap: 4px;
      font-weight: normal;
      padding-right: 12px;
    }

    .loc-info {
      text-align: left;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      font-weight: normal;
      color: $clr4;
      margin-top: -3px;
    }

    .date-info {
      font-weight: normal;
      color: $clr4;
    }

    .price-info span {
      color: black;
      font-weight: normal;
    }
  }
}

.slick-list {
  width: 280px;
}

.slick-list img {
  height: 280px;
  object-fit: cover;
  border-radius: 5%;
}

.slick-prev {
  left: 5px;
  z-index: 1000;
}

.slick-next {
  right: 5px;
  z-index: 1000;
}

.slick-dots {
  bottom: 15px;
}

.slick-dots li.slick-active button:before {
  opacity: 1.5;
  color: $clr5;
}

.slick-dots li button:before {
  opacity: 0.75;
  color:$clr5;
}

.slick-dots li {
  margin: 0;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0;
}

.slick-next.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0;
}
