.user-msg {
  position: fixed;
  top: 60px;
  right: -300px;
  margin-inline-end: 24px;
  z-index: 20000;
  padding: 12px 16px;
  background-color: #ffffff;
  color: #333333;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  gap: 18px;
  animation: slideIn 0.5s forwards, slideOut 0.5s 4.5s forwards;
  border: none;
  font-family: "AirbnbCereal_W_Bk", sans-serif;
  max-width: 400px;
  width: 10%;
  font-weight: 600;
}

.user-msg.success {
  background-color: #f3f3f3;
  border: 1px solid #5a5a5a;
  color: color;
}

.user-msg.error {
  background-color: #f44336;
  color: white;
}

@keyframes slideIn {
  from {
    right: -300px;
    opacity: 0;
  }

  to {
    right: 20px;
    opacity: 1;
  }
}

@keyframes slideOut {
  from {
    right: 20px;
    opacity: 1;
  }

  to {
    right: -300px;
    opacity: 0;
  }
}

.user-msg-close-button {
  all: unset;
  cursor: pointer;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  background-image: url('https://www.gstatic.com/images/icons/material/system_gm/1x/close_white_20dp.png');
  background-repeat: no-repeat;
  background-size: 12px;
  background-position: center;
  transition: background-color 0.3s;
}

.user-msg-close-button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.msg-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
}

span {
  font-size: 14px;
  line-height: 1.4;
}

@media only screen and (max-width: 768px) {
  .user-msg {
    width: 40%;
  }

  @keyframes slideIn {
    from {
      right: -300px;
      opacity: 0;
    }

    to {
      right: 2px;
      opacity: 1;
    }
  }

  @keyframes slideOut {
    from {
      right: 2px;
      opacity: 1;
    }

    to {
      right: -300px;
      opacity: 0;
    }
  }
}