.user-msg {
  position: fixed;
  bottom: 60px;
  left: 50px;
  margin-inline-end: 24px;
  z-index: 20000;
  padding: 16px;
  color: #222222;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  gap: 18px;
  animation: fadeIn 1s forwards, fadeOut 1s 4s forwards;
  border: none;
  font-family: "AirbnbCereal_W_Bk", sans-serif;
  width: auto;
  min-width: 240px;
  max-width: 100%;
  font-weight: 400;
  background-color: #ffffff;
  opacity: 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.user-msg-close-button {
  all: unset;
  cursor: pointer;
  color: #717171;
  font-size: 16px;
  margin-left: 16px;
}

.user-msg-close-button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.msg-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
}

.user-msg span {
  font-size: 14px;
  line-height: 1.4;
  font-weight: 600;
  color: #222222;
}

@media only screen and (max-width: 768px) {
  .user-msg {
    max-width: 40%;
    left: 20px;
    bottom: 80px;
  }
}