.main-container {
  height: 100%;
  overflow: auto;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr auto;
  transition: grid-template-rows 0.7s ease;
}

.main-content {
  grid-row: 2/4;
  display: grid;
  grid-template-rows: subgrid;
}

.main-container.large-header {
  grid-template-rows: 80px 80px 80px 1fr auto;

  .main-content {
    grid-row: 3/5;
  }
}

.details-layout-container {
  display: grid;
  grid-template-columns: minmax(40px, 290px) 1fr minmax(40px, 290px);
  grid-template-rows: auto 1fr auto;
  height: 100%;

  &.app-footer {
    grid-row: 3;
  }
}

.details-layout-container>* {
  grid-column: 2;
  // padding: 0 !important;
}

.details-layout-container .app-header {
  padding: 0 !important;
}


@media (max-width: 415px) {
  .details-layout-container {
    display: block;

    .app-header {
      display: none;
    }
  }
}

@media (max-width: 415px) {
  .main-container{
    overflow-x: hidden;
  }
  
  .details-layout-container {
    .main-content {
      display: grid;
      // grid-template-columns: 24px 327px 24px;
      grid-template-columns: 0px 375px 0px;
      overflow-x: hidden;
    }
  }
}