.order-preview {
  display: contents;

  label {
    padding: 8px;
    word-break: break-word;

    &.client-name,
    &.stay-name,
    &.check-in,
    &.check-out,
    &.total-price,
    &.order-status,
    &.order-icon {
      align-self: center;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 150px;
    }

    &.order-icon {

      .icon-approved {
        color: green;
        height: 40px;
        width: 22px;
      }

      .icon-decline {
        color: red;
        height: 40px;
        width: 26px;
      }

      .icon-pending {
        color: orange;
        height: 40px;
      }
    }
  }

  .actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 6px;

    button {
      padding: 6px 12px;
      border: none;
      border-radius: 4px;
      font-size: 14px;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &.approve-btn {
        background-color: #4caf50;
        color: white;

        &:hover {
          background-color: #45a049;
        }
      }

      &.decline-btn {
        background-color: #f44336;
        color: white;

        &:hover {
          background-color: #e53935;
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {

  .order-preview {
    display: grid;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 100%;

    .actions {
      margin-top: 16px;

      button {
        padding: 12px 18px;
      }
    }

    .order-icon {
      justify-content: center;
    }

    label {

      &.client-name,
      &.stay-name,
      &.check-in,
      &.check-out,
      &.total-price,
      &.order-status,
      &.order-icon {
        max-width: none;
      }

    }
  }


}